{% extends "base.html" %}

{% block title %}Главная{% endblock %}
{% block content %}
    <div>
        <div style="display: flex; gap: 10px; align-items: center;">
            <h2 style="font-weight: 500;">Contract Balance: </h2>
            <h2 id="contract_balance"></h2>
        </div>
        <button type="button" onclick="getCotractBalance()">refresh</button>
    </div>

    <div id="waitlist" style="margin-top: 2vh;"></div>
    <button type="button" onclick="getWaitlist()">get waitlist</button>

    <form id="myForm" style="margin-top: 5vh;">
        <h2>Accept account from waitlist</h2>
        <label for="acc_type">Account Type:</label>
        <input type="text" id="acc_type" name="acc_type"><br><br>
        <label for="acc_add">Account Address:</label>
        <input type="text" id="acc_add" name="acc_add"><br><br>
        <button type="button" onclick="confirmUser()">Submit</button>
    </form>

    <div id="response"></div>

    <script>
        async function confirmUser() {
            try {
                const accType = document.getElementById("acc_type").value;
                const accAdd = document.getElementById("acc_add").value;

                document.getElementById("acc_add").value = '';
                document.getElementById("acc_type").value = '';
                document.getElementById("response").innerHTML = 'sending...';

                const response = await fetch("/confirm_user", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ acc_type: accType, acc_add: accAdd })
                });

                if (!response.ok) {
                    throw new Error("Error: " + response.status);
                }

                const data = await response.text();
                document.getElementById("response").innerHTML = data;
            } catch (error) {
                document.getElementById("response").innerHTML = error.message;
            }
        }

        async function getCotractBalance() {
            try {
                const response = await fetch("/contract_balance");
                if (!response.ok) {
                    throw new Error("Error: " + response.status);
                }
                const data = await response.text();
                document.getElementById("contract_balance").innerHTML = data;
            } catch (error) {
                document.getElementById("contract_balance").innerHTML = error.message;
            }
        }

        async function getWaitlist() {
            try {
                const response = await fetch("/get_waitlist");
                if (!response.ok) {
                    throw new Error("Error: " + response.status);
                }
                const data = await response.json();
                
                const waitlistContainer = document.getElementById("waitlist");
                waitlistContainer.innerHTML = '';

                data.keys.forEach((key, index) => {
                    const waitlistItem = document.createElement('div');
                    waitlistItem.classList.add('waitlist-item');
                    waitlistItem.innerHTML = `
                        <h3>Key: ${key}</h3>
                        <p style="margin-bottom: 1vh;">Name: ${data.names[index]}</p>
                    `;
                    waitlistContainer.appendChild(waitlistItem);
                });
            } catch (error) {
                document.getElementById("waitlist").innerHTML = error.message;
            }
        }
    </script>
{% endblock %}