<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    {% include 'header.html' %}
    <h1>Main page</h1>

    <form id="myForm">
        <label for="acc_type">Account Type:</label>
        <input type="text" id="acc_type" name="acc_type"><br><br>
        <label for="acc_add">Account Address:</label>
        <input type="text" id="acc_add" name="acc_add"><br><br>
        <button type="button" onclick="confirmUser()">Submit</button>
    </form>

    <div id="response"></div>

    <script>
        function confirmUser() {
            var acc_type = document.getElementById("acc_type").value;
            var acc_add = document.getElementById("acc_add").value;

            document.getElementById("acc_add").value = '';
            document.getElementById("acc_type").value = '';
            document.getElementById("response").innerHTML = 'sending...';

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/confirm_user");
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.onload = function () {
                if (xhr.status == 200) {
                    document.getElementById("response").innerHTML = xhr.responseText;
                } else {
                    document.getElementById("response").innerHTML = "Error: " + xhr.status;
                }
            };
            xhr.send(JSON.stringify({acc_type: acc_type, acc_add: acc_add}));
        }
    </script>
</body>
</html>