{% extends "base.html" %}

{% block title %}Товары{% endblock %}
{% block content %}
    <div id="products" style="margin-top: 2vh;"></div>
    <button type="button" onclick="getProducts()">get products</button>
    
    {% if session['type'] == 'operator' %}
    <button type="button" onclick="getWaitProducts()">get wait products</button>
    <div class="forms" style="display: flex; gap: 5vw; align-items: flex-start;">
        <form id="myForm">
            <h2>Accept product from waitlist</h2>
            <label for="prod">Product id:</label>
            <input type="text" id="prod" name="prod"><br><br>
    
            <label for="min">Min:</label>
            <input type="number" id="min" name="min"><br><br>
    
            <label for="max">Max:</label>
            <input type="number" id="max" name="max"><br><br>
    
            <label for="seller">Seller:</label>
            <input type="text" id="seller" name="seller"><br><br>
            <button type="button" onclick="confirmProduct()">accept</button>
        </form>
    {% endif %}

        <form id="myForm">
            <h2>Buy product</h2>
            <label for="product_id">Product id:</label>
            <input type="text" id="product_id" name="product_id"><br><br>
    
            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount"><br><br>
    
            <button type="button" onclick="buyProduct()">buy</button>
        </form>
    </div>

    <div id="response"></div>

    <script>
        async function confirmProduct() {
            try {
                const prod = document.getElementById("prod").value;
                const min = document.getElementById("min").value;
                const max = document.getElementById("max").value;
                const seller = document.getElementById("seller").value;

                document.getElementById("prod").value = '';
                document.getElementById("min").value = '';
                document.getElementById("max").value = '';
                document.getElementById("seller").value = '';
                document.getElementById("response").innerHTML = 'sending...';

                const response = await fetch("/confirm_product", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ prod: prod, min: min, max: max, seller: seller })
                });

                if (!response.ok) {
                    throw new Error("Error: " + response.status);
                }

                const data = await response.text();
                document.getElementById("response").innerHTML = data;
            } catch (error) {
                document.getElementById("response").innerHTML = error.message;
            }
        }

        async function getWaitProducts() {
            try {
                const response = await fetch("/get_wait_products");
                if (!response.ok) {
                    throw new Error("Error: " + response.status);
                }
                const data = await response.json();
                
                const waitlistContainer = document.getElementById("products");
                waitlistContainer.innerHTML = '';

                data.keys.forEach((key, index) => {
                    const waitlistItem = document.createElement('div');
                    waitlistItem.classList.add('products-item');
                    waitlistItem.innerHTML = `
                        <h3>ID: ${key}</h3>
                        <p>Name: ${data.names[index]}</p>
                        <p style="margin-bottom: 2vh;">Price: ${data.prices[index]}</p>
                    `;
                    waitlistContainer.appendChild(waitlistItem);
                });
            } catch (error) {
                document.getElementById("products").innerHTML = error.message;
            }
        }

        async function getProducts() {
            try {
                const response = await fetch("/get_products");
                if (!response.ok) {
                    throw new Error("Error: " + response.status);
                }
                const data = await response.json();
                
                const waitlistContainer = document.getElementById("products");
                waitlistContainer.innerHTML = '';

                data.keys.forEach((key, index) => {
                    const waitlistItem = document.createElement('div');
                    waitlistItem.classList.add('products-item');
                    waitlistItem.innerHTML = `
                        <h3>ID: ${key}</h3>
                        <p>Name: ${data.names[index]}</p>
                        <p>Min: ${data.min[index]}</p>
                        <p>Max: ${data.max[index]}</p>
                        <h3 style="margin-bottom: 2vh;">Price: ${data.prices[index]}</h3>
                    `;
                    waitlistContainer.appendChild(waitlistItem);
                });
            } catch (error) {
                document.getElementById("products").innerHTML = error.message;
            }
        }

        async function buyProduct() {
            try {
                const product_id = document.getElementById('product_id').value;
                const amount = document.getElementById('amount').value;

                document.getElementById('product_id').value = '';
                document.getElementById('amount').value = '';
                document.getElementById("response").innerHTML = 'sending...';

                const response = await fetch("/buy_product", {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({"product_id": product_id, "amount": amount})
                });

                if (!response.ok) {
                    throw new Error("Error (not enough money): " + response.status);
                }

                const data = await response.text()
                document.getElementById('response').innerHTML = data
            } catch(error) {
                document.getElementById('response').innerHTML = error.message;
            }
        }
    </script>
{% endblock %}