* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-inline: 20vw;
}

a {
    text-decoration: none;
    color: #071bf3;
}

input {
    height: 30px;
    margin-top: 5px;
    margin-bottom: 2vh;
}

ul {
    display: flex;
    align-items: center;
}

button {
    height: 50px; 
    background-color: #071bf3; 
    color: #fff; 
    border-radius: 5px;
    padding-inline: 10px;
}

#myForm {
    margin-top: 5vh; 
    width: 50%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

#response {
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
}